html, body {
	height: 100%;
}

.navbar-brand{
	font-family: 'Lilita One', cursive;
}

.nav-link{
	font-family: 'Lilita One', cursive;
	color: black;
	padding: 20px;
	margin-bottom: 10px;
	
}

.img-fluid{
	max-width: 100%;
	height: auto;
}

.list-group{
	padding-top: 20px;
	color: bisque;
	font-size: 20;
	align-items: left;
	justify-content: space-evenly;
	padding-bottom: 20px;
}

.form-label{
	font-family: 'Lilita One', cursive;
	padding-top: 40px;

}

.form-label-message{
	font-family: 'Lilita One', cursive;
	padding-top: 70px;

}



.search-button{

}

.btn{
	
	
}
.sect1 {
	background-color: rgb(224, 207, 207);
}

.sect2 {
	background-color: lightblue;
}

.sect3 {
	background-color: rgb(238, 238, 122);
}

.navbar {
	background-color: lightseagreen;
}
